.table th{ 
	text-align: center; 
	height:38px;
}
.cla1 {
	FONT-SIZE: 12px;
	COLOR: #4b4b4b;
	LINE-HEIGHT: 18px;
	TEXT-DECORATION: none
}

.login_msg {
	font-family: serif;
	margin-left:500px;
}

.login_msg .msg {
	background-color: #acf;
	width: 150px;
}

.login_msg .btn {
	background-color: #9be;
	width: 150px;
	font-size: 15px;
	font-family: 微软雅黑;
}
*{
    margin: 0 auto;
    padding: 0px;
}

.box{
	width:100%;
	height:100%;

	float:left;

}
.box2{
	width:1000px;
	height:800px;

	float:left;
}
.zi{
	color:green;
	margin-top:260px;
	font-size:60px;
	margin-left:150px;
	font-weight:800;
	font-style:oblique;
}
.zi1{
	margin-left:90px;
	font-size:25px;
	color:white;
}